<nav>
    <div class="nav-left">
    <img src="https://mediconnect-hms.netlify.app/static/media/White.025447d688ac97573f81.png" alt="logo">
        <p>MediConnect</p>
    <a href="/admin/dashboard">Home</a>
    <a href="/admin/add">Add Doctor</a>
    </div>

    
    <div class="nav-right">
    <a href="/logout" class="logout">Logout</a>
  </div>
</nav>

