<nav>
    <img src="https://mediconnect-hms.netlify.app/static/media/White.025447d688ac97573f81.png" alt="logo">
        <p>MediConnect</p>
    <a href="/admin/dashboard">Home</a>
    <a href="/doctor/add">Add Doctor</a>

    
    
</nav>