<nav>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq47aGmZMjC0cG2comrjVkYtk8fHS7tvnwKQ&s" alt="logo">
        <p>MediConnect</p>
    <a href="/home">Home</a>
    <a href="#">Appointments</a>
    <a href="#">Message</a>
    <a href="#">Profile</a>
    <a href="/doctor/add">Doctor</a>

    <search>Search</search>
    
</nav>