<nav>
    <img src="https://mediconnect-hms.netlify.app/static/media/White.025447d688ac97573f81.png" alt="logo">
        <p>MediConnect</p>
    <a href="/home">Home</a>
    <a href="/profile/patientAppointment">Appointments</a>
    <a href="/profile">Profile</a>

    <search>Search</search>
    
</nav>