<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Doctor</title>
    <link rel="stylesheet" href="/style.css">
          <link rel="icon" type="image" href="https://mediconnect-hms.netlify.app/static/media/White.025447d688ac97573f81.png">

</head>
<body>
    {{> adminNavbar}}
    <form action="/admin/add" method="POST" class="product-form">
        <h2>Add New Doctor</h2>
        <div class="form-group">
            <label for="name">Doctor Name</label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="form-group">
            <label for="specialty">Specialty</label>
            <input type="text" name="specialty" id="specialty" required>
        </div>
        <div class="form-group">
            <label for="experience">Experience (e.g. 10 years)</label>
            <input type="text" name="experience" id="experience" required>
        </div>
        <div class="form-group">
            <label for="image">Image URL</label>
            <input type="url" name="image" id="image" required>
        </div>
        <div class="form-group">
            <label for="about">About</label>
            <textarea name="about" id="about" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="specializations">Specializations (comma separated)</label>
            <input type="text" name="specializations" id="specializations">
        </div>
        <div class="form-group">
            <label>Username </label>
  <input type="text" name="username" required>
        </div>
           <div class="form-group">
            <label>Email </label>
  <input type="email" name="email" required>
        </div>
           <div class="form-group">
<label>Password (for doctor login):</label>
  <input type="password" name="password" required>
        </div>
        <button type="submit" class="submit-btn">Add Doctor</button>
    </form>
     <footer class="main-footer">
  <p>&copy; 2025 MediConnect. All rights reserved.</p>
</footer>

</body>
</html>