<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
      {{#if msg}}
  <div>
    <p>{{msg}}</p>
  </div>
  {{/if}}
    <h1>Welcome to MediConnect</h1>
    <form action="/signup" method="POST">
    <h3>Create User</h3>
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enter Username" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Enter Password" required><br>
    <label for="role">Are you a:</label>
      <label>
    <input type="radio" name="role" value="patient" required> Patient
  </label>
  <label>
    <input type="radio" name="role" value="doctor" required> Doctor
  </label>
<br>
    <button type="submit">Signup</button>
      </form>
      <br>
       <div>
        Already have an account?
        <button>
            <a href="/login">Login</a>
        </button>
        
      </div>
</body>
</html>